# VS Code symbol database
.vscode/*.db

# macOS files
.DS_Store

# Cmake files
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
/build

# Static libs
*.a

# Nsound build artifacts
deps/dc/nsound/arm/*.o
deps/dc/nsound/*.o
deps/dc/nsound/arm/prog.map
deps/dc/nsound/arm/prog.elf
deps/dc/nsound/arm/nstream.drv

